body {
  background: 
  linear-gradient(135deg, rgb(0, 0, 0) 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, rgb(0, 0, 0) 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, rgb(0, 0, 0) 25%, transparent 25%),
  linear-gradient(45deg, rgb(0, 0, 0) 25%, transparent 25%);	
  background-size: 100px 100px;
  background-color: rgb(104, 104, 104);
}

.splash {
    width: 50vw;
    min-width: 20rem;
    margin: auto;
    margin-top: 8%;
}

.splash-title {
  /* display: inline-block; */
  /* vertical-align: center; */
  font-size: 4rem;
  -webkit-text-fill-color: darkred; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(226, 0, 0);
  margin: 0 auto;
}

a {
  color: white;
}

a:hover {
  color: white;
}

/* Make text white */

.ui.items>.item>.content>a.header {
  color: white;
}

.ui.comments .comment .author {
  color: white;
}

.ui.header {
  color: white;
}

.ui.comments .comment .text {
  color: white;
}

.ui.comments .comment .metadata {
  color: rgb(190, 190, 190);
}

.ui.comments .comment .actions a {
  color: rgb(190, 190, 190);
}


.ui.comments .reply.form textarea {
  background-color: rgba(43, 0, 0, 0.363);
  color: white;
}

.ui.checkbox label, .ui.checkbox+label {
  color: white;
}
.ui.checkbox input:focus~label {
  color: white;
}

.ui.checkbox label:hover, .ui.checkbox+label:hover {
  color: white;
}



.ui.card,
.ui.cards>.card {
  color: white;
  background-color: rgb(110, 0, 0);
  border: black solid 1px;
  box-shadow:none;
  transition: background-color .5s;
}

.ui.card:hover {
  background-color: rgb(184, 0, 0);
}

.ui.cards {
  width: 100vw;
}

.ui.divided.items>.item {
  color: rgba(255, 255, 255, 0.6);
}

.ui.items>.item>.content>.description {
  color: white;
}

.comment-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui.menu {
  background: rgb(165, 0, 0);
  margin: 0;
}

.ui.menu .item{
  background: rgb(165, 0, 0);
}

.ui.items>.item>.content {
  margin-top: 0%;
  padding: 1%;
  color: white;
  background: rgba(139, 0, 0, .75);
  border: 1px solid black;
}

.ui.comments {
  margin-top: 0%;
  padding: 1%;
  background: rgba(139, 0, 0, .75);
  border: 1px solid black;
}

.ui.comments .comment .comments {
  background: none;
  border: none;
}

.ui.button {
  color: rgb(100, 0, 0);
}

.nav-title {
  color: white;
}

.nav-link {
  padding: 1rem;
  -webkit-transition: background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
  -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
  transition: background-color .5s
}

.nav-link:hover {
  -webkit-transition: background-color darkred;
  -webkit-transition: background-color darkred;
  background-color: darkred;
}

.ui.simple.active.dropdown>.menu, .ui.simple.dropdown:hover>.menu {
  border: none;
}

.ui.dropdown .menu>.divider {
  background-color: darkred;
  margin: 0;
}

.ui.dropdown .menu {
  background-color: rgb(165, 0, 0);
}

.post {
  background-color: darkred;
  color: white;
  flex-direction: column;
  align-content: center;
  margin-top: 1rem;
  border: 1px solid black;
}

.post-avatar {
  height:4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.post-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.post-options {
  padding: 1rem;
  font-size: 1.5rem;
  transition: color 1s;
}

.post-options:hover {
  color: red;
}

.post-username {
  font-size: 1.4rem;
}


.post-metadata {
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-title {
  font-size: 1.4rem;
}

.post-body {
  padding: 1rem;
}

.post-image {
  width: 100%;
  height: auto;
}

.feed {
  width: 60vw;
  display:flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}

.compose-form {
  width: 60vw;
  margin: 0 auto;
  margin-top: 1rem;
  background: darkred;
  border: 1px solid black;
  padding: 1rem;
  color: white;
}

.ui.form .field>label {
  color: white;
}

.nav-item {
  font-size: 2rem;
  margin-left: 1rem;
  transition: color .5s;
}

.nav-item:hover {
  color: rgb(87, 0, 0)
}
.ui.menu {
  align-items: center;
}