body {
  background: 
  linear-gradient(135deg, rgb(0, 0, 0) 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, rgb(0, 0, 0) 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, rgb(0, 0, 0) 25%, transparent 25%),
  linear-gradient(45deg, rgb(0, 0, 0) 25%, transparent 25%);	
  background-size: 100px 100px;
  background-color: rgb(104, 104, 104)
}

.splash {
    width: 40vw;
    margin: auto;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.ui.comments .reply.form textarea {
  background-color: darkred;
  color: white;
}


.ui.cards {
  justify-content: space-evenly;
  margin: 0;
}

.ui.card,
.ui.cards>.card {
  color: white;
  background-color: rgb(110, 0, 0);
  border: black solid 1px;
  box-shadow:none;
}

.ui.card:hover {
  background-color: rgb(184, 0, 0);
}

.feed {
  width: 60vw;
  margin: auto;
  display: flex;
}

.ui.divided.items>.item {
  color: rgba(255, 255, 255, 0.6);
}

.ui.items>.item>.content>.description {
  color: white;
}

.comment-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 0, 0);
}

.ui.menu {
  background: rgb(255, 147, 147);
  margin: 0;
}